@import url(./auxiliar.css);
@import url(./intro.css);
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    font-family: 'Cabin', sans-serif;
    background-color: rgba(4, 12, 27);
    color: white;
}

header {
    width: 100%;

    transition: 1s ease;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 800;
    opacity: 1;

    background:
        linear-gradient(180deg, #040C1B 0%, rgba(4, 12, 27, 0) 100%),
        linear-gradient(180deg, #040C1B 0%, rgba(4, 12, 27, 0) 100%),
        linear-gradient(180deg, #040C1B 0%, rgba(4, 12, 27, 0) 100%);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 1px;

    cursor: pointer;
    transition: .3s ease;

}

.nav-link:hover {
    opacity: .4;
}

.bg-slider {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: 1s ease;
    transition: 1s ease;
    z-index: -1;
    overflow: hidden;
}

.bg-slider::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, #040c1b 7.81%, rgba(4, 12, 27, 0.7) 35.42%, #040c1b 89.06%);
}

.img-slider {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 1.4s ease;
    transition: 1.4s ease;
}

@media screen and (max-width: 1440px) and (min-width: 1268px) {
    .img-slider {
        width: 140%;
    }
}

@media screen and (max-width: 1268px) and (min-width: 620px) {
    .img-slider {
        width: 120%;
    }
}

@media screen and (max-width: 960px) {
    .img-slider {
        width: 300%;
    }
}


.logo-spider {
    width: 50px;
    height: 50px;
    transition: .5s ease;

}

.text-spider-hero {
    font-size: 180px;
    text-shadow: 0px 10px 32px rgb(0, 0, 0, 0.40);
    white-space: nowrap;

    position: absolute;
    top: 35%;
    left: 50%;

    transform: translate(-50%, -50%);
    z-index: -1;
}

@media screen and (max-width: 980px) {
    .text-spider-hero {
        top: 28%;
        left: 50%;
        font-size: 150px;
    }
}

@media screen and (min-width: 1200px) {
    .text-spider-hero {
        font-size: 210px;
    }
}


.div-spider {
    position: absolute;
    top: 16%;
    left: 0;
}

.spider-hero {
    display: block;
    width: 100%;
    height: 100%;

    transform: scale(1.4);
    -webkit-transition: 1s ease;
    transition: 1s ease;
}

@media screen and (max-width: 980px) {
    .div-spider {
        top: 18%;
    }

    .spider-hero {
        transform: scale(1.6);
    }
}

@media screen and (min-width: 1277px) {

    .text-spider-hero {
        font-size: 300px;
        line-height: 150%;
        font-weight: 400;
        letter-spacing: 5px;
    }
}

.cta {
    max-width: 360px;
    padding: 7px 0px;
    position: absolute;
    top: 60%;
    left: 27%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 960px) {
    .cta {
        top: 84%;
        left: 50%;
        max-width: 300px;
    }
}

.cta::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0%;
    width: 75%;
    height: 100%;
    background: rgba(35, 44, 62, 0.6);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border: 2px solid rgba(17, 25, 41, 0.4);
    border-radius: 4px;
    -webkit-transform: skewX(-7deg);
    transform: skewX(-7deg);
    -webkit-transition: .4s ease;
    transition: .4s ease;
    -webkit-box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.4);
}

.cta:hover::before {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    -webkit-transform: skewX(-7deg) scale(1.05);
    transform: skewX(-7deg) scale(1.05);
}

.btn {
    display: inline-block;
    color: #F8FBFF;
    -webkit-transition: .6s ease;
    transition: .6s ease;
    padding: 16px 40px 16px 40px;
    text-align: center;
    border: 0;
    background: linear-gradient(189.8deg, #EA1D22 -4%, #640204 104%);
    -webkit-box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transform: skewX(-7deg);
    transform: skewX(-7deg);
    position: relative;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
}

@media screen and (max-width: 960px) {
    .btn {
        font-family: 'Cabin', sans-serif;
        font-size: 14px;
        line-height: 150%;
        font-weight: 400;
        padding: 12px 28px 12px 28px;
    }
}

.btn::after {
    content: '';
    position: absolute;
    top: -100%;
    left: 50%;
    width: 3px;
    height: 0%;
    border-radius: 2px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(235, 238, 242, 0)), to(#EBEEF2));
    background: linear-gradient(180deg, rgba(235, 238, 242, 0) 0%, #EBEEF2 100%);
    opacity: 0;
    -webkit-transition: .7s ease;
    transition: .7s ease;
}

.btn:hover {
    -webkit-transform: skewX(-7deg) scale(1.05);
    transform: skewX(-7deg) scale(1.05);
}

.btn:hover::after {
    top: -55%;
    opacity: 1;
    height: 70%;
}

.btn-secondary {
    display: inline-block;
    color: #F8FBFF;
    -webkit-transition: .6s ease;
    transition: .6s ease;
    padding: 12px 32px;
    text-align: center;
    background: transparent;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transform: skewX(-6deg);
    transform: skewX(-6deg);
    -webkit-transition: .4s ease;
    transition: .4s ease;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
}

@media screen and (max-width: 960px) {
    .btn-secondary {
        font-family: 'Cabin', sans-serif;
        font-size: 14px;
        line-height: 150%;
        font-weight: 400;
        padding: 12px 28px;
    }
}

a {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 200;
    text-decoration: none;
    color: #F8FBFF;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

a:hover {
    opacity: 0.9;
}


/* BOTÃO DE PLAYER */
.div-trailer {
    position: absolute;
    top: 57%;
    left: 51%;
    cursor: pointer;

}

@media screen and (max-width: 960px) {
    .div-trailer {
        top: 48%;
        left: 45%;
    }
}

.div-trailer:hover #text-trailer {
    left: 80%;
}

.div-trailer:hover .circle-play {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}

@media screen and (max-width: 960px) {}

#text-trailer {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 75%;
    -webkit-transform: translate(0%, -50%) skewX(-7deg);
    transform: translate(0%, -50%) skewX(-7deg);
    -webkit-transition: .4s ease;
    transition: .4s ease;
}

.circle-play {
    width: 116px;
    height: 116px;
    display: block;
    border-radius: 50%;
    background: rgba(35, 44, 62, 0.6);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border: 2px solid rgba(17, 25, 41, 0.5);
    -webkit-box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.4);
    -webkit-transition: .4s ease;
    transition: .4s ease;
    position: relative;
}

.circle-play::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background-image: url("../svg/icon-play.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media screen and (max-width: 960px) {
    .circle-play {
        width: 80px;
        height: 80px;
    }

    .circle-play::after {
        width: 26px;
        height: 26px;
    }
}


.slider-points {
    position: absolute;
    top: 60%;
    right: 4%;

    display: flex;
    flex-direction: column;
    gap: 12px
}

.point {
    width: 8px;
    height: 8px;


    border-radius: 50%;

    background-color: rgb(255, 255, 255, .6);
    z-index: 100;

    cursor: pointer;

    transition: .2s ease;
}

.active-point {
    background-color: rgb(255, 255, 255, .99);
    transform: scale(1.5);
}

@media(max-width: 768px) {

    nav h6 {
        display: none;
    }

    .logo-spider {
        width: 40px;
        height: 40px;
    }

    .button {
        width: 120px;
        height: 30px;
        font-size: 14px;
        font-weight: 400;
    }

    .text-spider-hero {
        font-size: 65px;
    }

    
    .div-play h6 {
        left: 155%;

    }

    .slider-points {
        top: 70%;
    }

}


.screen-loading {
  width: 100%;
  height: 100vh;
  background-color: #040C1B;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
}

.loader-spider {
  position: relative;
}

.loader-spider::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  width: 100%;
  height: 300%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 12, 27, 0)), color-stop(60%, #040C1B));
  background: linear-gradient(180deg, rgba(4, 12, 27, 0) 0%, #040C1B 60%);
  -webkit-animation: loader-spider 3s ease forwards;
          animation: loader-spider 3s ease forwards;
}

@-webkit-keyframes loader-spider {
  0% {
    top: -150%;
    left: 0;
    -webkit-backdrop-filter: blur(16px);
            backdrop-filter: blur(16px);
  }
  100% {
    top: 00%;
    left: 0%;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
}

@keyframes loader-spider {
  0% {
    top: -150%;
    left: 0;
    -webkit-backdrop-filter: blur(16px);
            backdrop-filter: blur(16px);
  }
  100% {
    top: 00%;
    left: 0%;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
}