@import url(./auxiliar.css);
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
    background-color: rgba(4, 12, 27);
    color: white;
}

.bg-slider {
    width: 100%;
    height: 100vh;

    position: absolute;
    overflow: hidden;

    z-index: -1;
}

.bg-slider img {
    position: absolute;
}

.img {
    position: absolute;
    width: 100%;
}

.bg-slider::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, #040c1b 7.81%, rgba(4, 12, 27, 0.7) 35.42%, #040c1b 89.06%);
}

nav {
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;

    z-index: 999;
}

.nav-link {
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 1px;

    cursor: pointer;
    transition: .3s ease;

}

.nav-link:hover {
    opacity: .4;
}

.logo-spider {
    width: 40px;
    height: 40px;
    transition: .5s ease;
}

.text-spider-hero {
    font-size: 200px;
    display: inline-block;

    text-shadow: 0px 10px 32px rgb(0, 0, 0, 0.40);
    white-space: nowrap;

    position: absolute;
    top: 40%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.spider-hero {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;

    z-index: 1;
    transform: translate(-50%, -50%);

}


.cta {
    position: absolute;
    top: 55%;
    left: 25%;

    display: flex;
    gap: 8px;

    z-index: 999;
}

.button {
    cursor: pointer;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #e4e4e4;
    background: linear-gradient(189.8deg, #EA1D22 -4%, #640204 104%);
    border-radius: 4px;
    border: 0;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.7);
    transform: skew(-13deg);
    transition: all .1s ease;

    text-decoration: none;
    text-transform: uppercase;
}

.button:active {
    letter-spacing: 0px;
    transform: skew(-13deg) translateY(8px);
}


.cta-play {
    width: 120px;
    height: 120px;

    border-radius: 50%;
    background-color: rgb(17, 25, 41, 0.5);

    backdrop-filter: blur(8px);
    transition: .7s ease;

    position: relative;

    cursor: pointer;
}

.cta-play:hover {
    backdrop-filter: blur(2px);
    transform: scale(1.2);
}

.cta-play::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    width: 32px;
    height: 32px;
    background-image: url('../svg/icon-play.svg');
    background-size: cover;

    transform: translate(-50%, -50%);
    z-index: -1;
}

.div-play {
    position: absolute;
    top: 50%;
    right: 30%;
    z-index: 999;
}

.div-play h6 {
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 135%;

    transform: translate(-50%, -50%);
}


.slider-points{
    position: absolute;
    top:60%;
    right: 4%;

    display: flex;
    flex-direction: column;
    gap: 12px
}
.point{
    width: 8px;
    height: 8px;


    border-radius: 50%;

    background-color: rgb(255, 255, 255, .6);
    z-index: 100;

    cursor: pointer;
}

.active-point{
    background-color: rgb(255,255,255, .99);
    transform: scale(1.5);
}

@media(max-width: 768px) {

    nav h6{
        display: none;
    }
    .logo-spider{
        width: 60px;
        height: 60px;
    }
    .button {
        width: 120px;
        height: 30px;
        font-size: 14px;
        font-weight: 400;
    }

    .text-spider-hero {
        top: 51%;
        font-size: 80px;
    }

    .spider-hero {
        object-fit: cover;

    }

    .cta {
        top: 70%;
        left: 10%;
    }

    .cta-play {
        width: 80px;
        height: 80px;
    }

    .div-play{
        top: 57%;
    }

    .div-play h6 {
        left: 155%;

    }
}